html {
	visibility: visible !important;
}

.wp-block {
	transition: 0.2s all ease-in-out;
}

.wp-block.is-selected {
	background-color: #e0e0e0;
	padding: 8px;
}

ul.wp-block.is-selected,
ol.wp-block.is-selected {
	padding: 8px 8px 8px 48px;
}

section.image-content,
section.mission-and-vision {
	display: flex !important;
}

section.image-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: grid;
	grid-template-columns: 35.2604167% auto;
}


section.mission-and-vision > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

section.mission-and-vision > div {
	padding: 0 !important;
}