/* 3rd party packages */
@import "/node_modules/@fortawesome/fontawesome-pro/css/all.css";
@import "modern-normalize.min.css";

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  visibility: hidden;
  font-size: 13px;
}

@media screen and (min-width: 960px) {
  button.menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  html {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    // font-size: clamp(10px, calc(10px + 3 * ((100vw - 1000px) / 700)), 16px);
    font-size: calc(13px + 3 * (100vw - 1000px) / 900);
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}

p {
  letter-spacing: 1px;
  font-weight: 400;
}

a.wp-block-button__link {
  background: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8em;
  padding: 1.8925em 3.2em;
  border: 1px solid;
  border-radius: 0;
  line-height: 1.3;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 960px) {
    min-width: 22.5em;
  }

  &:hover {
    background: #fff !important;
    color: #282626;
    border-color: #ed1849;
  }
}

.wp-block-buttons {
  &.black {
    a.wp-block-button__link {
      background: transparent;
      color: #ffffff;
      font-weight: 700;
      font-size: 0.8em;
      padding: 1.4625em 3.2em;
      border: 2px solid #282626;
      border-radius: 0;
      line-height: 1.3;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      @media screen and (min-width: 960px) {
        min-width: 22.5em;
      }

      &:hover {
        color: #ffffff !important;
        border-color: #282626;
        background: #282626 !important;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  .mobile-only {
    display: none !important;
  }
}

.two_blocks {
  position: relative;
  padding-top: 7em;
  hr.wp-block-separator {
    position: absolute;
    top: 22%; // altura desde el bottom del contenedor
    right: 0; // inicia desde el borde izquierdo
    width: 36% !important; // ancho de la línea
    border: none; // quitar estilo default
    border-bottom: 2px solid #ed1849; // línea roja
    z-index: 10;
    @media screen and (max-width: 1300px) {
      top: 16%;
    }
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  .columns {
    gap: 9em;
    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      figure {
        margin: 0 0 0em;
        img {
          max-width: 100%;
          height: 100%;
          width: 100%;
        }
      }
    }

    .right {
      justify-self: flex-start;
      text-align: left;

      @media screen and (max-width: 1540px) {
        flex-basis: 33% !important;
      }
      .wp-block-buttons {
        &.black {
          margin-top: 3em;
        }
      }
      h4 {
        font-size: 1.66em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      p {
        letter-spacing: 0;
      }
    }
  }

  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.d-none {
  display: none !important;
}

.deuxblocks {
  position: relative;
  .columns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 10em;
    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      position: relative;
      padding-top: 5.2em;
      padding-bottom: 7.2em;
      .wp-block-buttons {
        margin-top: 3.1em;
      }
    }
    .right {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-left: 2px solid #ed1849;
    }
  }
}

.halfhalf {
  position: relative;
  background: linear-gradient(to top, #f0f3f5 80%, #ffffff 20%);
  .box_inside {
    position: relative;
    .columns {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      padding-top: 5.2em;
      padding-bottom: 3.2em;
      padding-left: 4em;
      padding-right: 4em;
      gap: 6.8em;

      @media (max-width: 1100px) {
        padding-left: 0em;
        padding-right: 0em;
        gap: 4.8em;
      }
      .wp-block-column {
        position: relative;

        p {
          margin-bottom: 2em;
        }

        h4 {
          font-size: 1.66em;
          font-weight: 600;
        }

        ul {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-left: 0.9em;
          padding-right: 8em;
          gap: 1em;
          @media (max-width: 1100px) {
            padding-right: 0em;
          }

          li {
            font-size: 16px !important;
          }
        }
      }
    }

    .button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 3.2em;
      padding-bottom: 1.95em;
      .wp-block-buttons {
        position: relative;
        max-width: 381px;
        width: 100%;
        .wp-block-button {
          position: relative;
          width: 100%;
        }
      }
      a.wp-block-button__link {
        background: #ffffff !important;
        color: #282626;
        font-weight: 700;
        font-size: 0.8em;
        padding: 1.4625em 3.2em;
        border: 1px solid #ffffff;
        border-radius: 0;
        line-height: 1.3;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #282626 !important;
          color: #ffffff;
          border-color: #282626;
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.title {
  h3 {
    font-size: 2.24em;
  }
}

.deux_blocks {
  position: relative;
  display: block;
  padding-top: 5.2em;
  padding-bottom: 7.2em;
  hr.wp-block-separator {
    position: absolute;
    bottom: 27%; // altura desde el bottom del contenedor
    left: 0; // inicia desde el borde izquierdo
    width: 38% !important; // ancho de la línea
    border: none; // quitar estilo default
    border-bottom: 2px solid #ed1849; // línea roja
    z-index: 10;
    @media screen and (max-width: 960px) {
      bottom: 12%;
    }
    @media screen and (max-width: 781px) {
      display: none;
    }
  }
  .columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9em;

    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      h4 {
        font-size: 1.66em;
        font-weight: 600;
        margin-bottom: 1em;
      }
      hr.wp-block-separator {
        position: absolute;
        bottom: -12%; // altura desde el bottom del contenedor
        left: -7.5vh; // inicia desde el borde izquierdo
        width: 68% !important; // ancho de la línea
        border: none; // quitar estilo default
        border-bottom: 2px solid #ed1849; // línea roja
        z-index: 10;
        display: none;
        @media screen and (max-width: 781px) {
          display: block;
        }
      }
      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 0.9em;
        padding-right: 0em;
        gap: 1em;
        @media (max-width: 1100px) {
          padding-right: 0em;
        }
        li::marker {
          color: #ed1849;
        }
      }
    }
    .right {
      figure {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.max_width {
  max-width: 1160px;
  width: 100%;
  margin-top: 2em;
}

.halfhalf3 {
  position: relative;
  background: linear-gradient(to top, #f0f3f5 80%, #ffffff 20%);
  .box_inside {
    position: relative;
    .columns {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      padding-top: 5.2em;
      padding-bottom: 3.2em;
      padding-left: 4em;
      padding-right: 4em;
      gap: 4.8em;
      .wp-block-column {
        position: relative;

        h4 {
          font-size: 1.66em;
          font-weight: 600;
        }

        p {
          margin-bottom: 2em;
        }

        ul {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-left: 0.9em;
          padding-right: 8em;
          gap: 1em;
          @media (max-width: 1100px) {
            padding-right: 0em;
          }
        }
      }
    }

    .button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 3.2em;
      padding-bottom: 1.95em;
      a.wp-block-button__link {
        background: #ffffff !important;
        color: #282626;
        font-weight: 700;
        font-size: 0.8em;
        padding: 1.4625em 3.2em;
        border: 1px solid #ffffff;
        border-radius: 0;
        line-height: 1.3;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #282626 !important;
          color: #ffffff;
          border-color: #282626;
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.two_blocks_2 {
  padding: 0;
  padding-top: 7em;
  padding-bottom: 5em;
  .columns {
    gap: 9em;
    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      figure {
        margin: 0 0 0em;
        img {
          max-width: 100%;
          height: 100%;
          width: 100%;
        }
      }
    }

    .right {
      justify-self: flex-start;
      text-align: left;

      @media screen and (max-width: 1540px) {
        flex-basis: 33% !important;
      }
      .wp-block-buttons {
        &.black {
          margin-top: 3em;
        }
      }

      h4 {
        font-size: 1.66em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      p {
        letter-spacing: 0;
        margin: 0;
        margin-bottom: 2em;
      }

      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 0.9em;
        padding-right: 8em;
        gap: 1em;

        @media (max-width: 1650px) {
          padding-right: 2em;
        }

        @media (max-width: 1100px) {
          padding-right: 0em;
        }
        li::marker {
          color: #ed1849;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.three_columns {
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;

  .wp-block-columns {
    .wp-block-column {
      figure {
        position: relative;
        max-width: 512px;
        width: 100%;
        height: auto;
        margin-bottom: 3em;
        @media (max-width: 1100px) {
          max-width: 100%;
        }
        img {
          display: block;
          max-width: 100%;
          height: auto;
          @media (max-width: 1100px) {
            width: 100%;
          }
        }
      }

      h4 {
        font-size: 1.66em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      p {
        letter-spacing: 0;
        margin: 0;
        margin-bottom: 2em;
      }

      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 0.9em;
        padding-right: 8em;
        gap: 1em;
        @media (max-width: 1100px) {
          padding-right: 0em;
        }
        li::marker {
          color: #ed1849;
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

:where(.editor-styles-wrapper)
  .banner_small
  .title_button
  .logo_title
  figure.wp-block-image.hero-decor {
  width: auto !important;
}

:where(.editor-styles-wrapper) .banner_small .title_button .logo_title p {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-wrap: unset;
  white-space: unset !important;
}

.boxes {
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;

  h3.wp-block-heading.has-text-align-center {
    margin-bottom: 2em !important;
  }

  h4 {
    font-size: 1.66em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.text_court {
  position: relative;
  padding-top: 5em;
  padding-bottom: 3em;
}

.max_widthv2 {
  // max-width: 1134px;
  max-width: 59.06vw;
  width: 100%;
}

.top_informations {
  position: relative;
  padding-top: 5em;
  padding-bottom: 2em;

  .wp-block-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4em;
  }

  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.left_line {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 7.45vw;

  hr.wp-block-separator {
    border: none; // quitamos el estilo por defecto
    height: 2px; // grosor de la línea
    background-color: #ed1849; // rojo
    width: 100% !important;
    margin: 0; // ajusta si necesitas espacio
  }
}

.right_line {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 7.45vw;

  hr.wp-block-separator {
    border: none; // quitamos el estilo por defecto
    height: 2px; // grosor de la línea
    background-color: #ed1849; // rojo
    width: 100% !important;
    margin: 0; // ajusta si necesitas espacio
  }
}

.responsibilities {
  position: relative;
  padding-top: 5em;
  padding-bottom: 2em;

  h4 {
    font-size: 1.66em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .wp-block-columns {
    .wp-block-column {
      p.title {
        margin-bottom: 1.56em;
      }
      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 0.9em;
        padding-right: 4em;
        gap: 1em;
        @media (max-width: 1100px) {
          padding-right: 0em;
        }
        li::marker {
          color: #ed1849;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.open_popupsection {
  position: relative;
  padding-top: 4em;
  padding-bottom: 5em;
}
