/* 3rd party packages */
@import "/node_modules/@fortawesome/fontawesome-pro/css/all.css";
@import "modern-normalize.min.css";

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  visibility: hidden;
  font-size: 13px;
}

@media screen and (min-width: 960px) {
  button.menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  html {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    // font-size: clamp(10px, calc(10px + 3 * ((100vw - 1000px) / 700)), 16px);
    font-size: calc(13px + 3 * (100vw - 1000px) / 900);
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}

p {
  letter-spacing: 1px;
  font-weight: 400;
}

a.wp-block-button__link {
  background: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8em;
  padding: 1.4625em 3.2em;
  border: 1px solid;
  border-radius: 0;
  line-height: 1.3;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 960px) {
    min-width: 22.5em;
  }

  &:hover {
    background: #fff !important;
    color: #282626;
    border-color: #ed1849;
  }
}

.wp-block-buttons {
  &.black {
    a.wp-block-button__link {
      background: transparent;
      color: #ffffff;
      font-weight: 700;
      font-size: 0.8em;
      padding: 1.4625em 3.2em;
      border: 1px solid;
      border-radius: 0;
      line-height: 1.3;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      @media screen and (min-width: 960px) {
        min-width: 22.5em;
      }

      &:hover {
        color: #ffffff !important;
        border-color: #282626;
        background: #282626 !important;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  .mobile-only {
    display: none !important;
  }
}

.two_blocks {
  margin-top: 7em;
  .columns {
    gap: 9em;
    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      figure {
        margin: 0 0 0em;
        img {
          max-width: 100%;
          height: 100%;
          width: 100%;
        }
      }
    }

    .right {
      justify-self: flex-start;
      text-align: left;

      @media screen and (max-width: 1540px) {
        flex-basis: 33% !important;
      }
      .wp-block-buttons {
        &.black {
          margin-top: 3em;
        }
      }

      p {
        letter-spacing: 0;
      }
    }
  }

  @media (max-width: 1100px) {
    .wp-block-columns {
      flex-wrap: wrap !important;
    }
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

.d-none {
  display: none !important;
}

.deuxblocks {
  position: relative;
  .columns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 10em;
    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      position: relative;
      padding-top: 5.2em;
      padding-bottom: 7.2em;
      .wp-block-buttons {
        margin-top: 3.1em;
      }
    }
    .right {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-left: 2px solid #ed1849;
    }
  }
}

.halfhalf {
  position: relative;
  background: linear-gradient(to top, #f0f3f5 80%, #ffffff 20%);
  .box_inside {
    position: relative;
    .columns {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      padding-top: 5.2em;
      padding-bottom: 7.2em;
      padding-left: 4em;
      padding-right: 4em;
      gap: 6.8em;
      .left {
        position: relative;

        p {
          margin-bottom: 2em;
        }

        ul {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-left: 0.9em;
          padding-right: 8em;
          gap: 1em;
          li {
          }
        }
      }
      .right {
        position: relative;
      }
    }
  }
}

.title {
  h3 {
    font-size: 2.24em;
  }
}

.deux_blocks {
  position: relative;
  display: block;
  padding-top: 5.2em;
  padding-bottom: 7.2em;
  hr.wp-block-separator {
    position: absolute;
    bottom: 27%; // altura desde el bottom del contenedor
    left: 0; // inicia desde el borde izquierdo
    width: 38% !important; // ancho de la línea
    border: none; // quitar estilo default
    border-bottom: 2px solid #ed1849; // línea roja
    z-index: 10;
    @media screen and (max-width: 960px) {
      bottom: 12%;
    }
    @media screen and (max-width: 781px) {
      display: none;
    }
  }
  .columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9em;

    @media screen and (max-width: 781px) {
      gap: 6em;
    }
    .left {
      hr.wp-block-separator {
        position: absolute;
        bottom: -12%; // altura desde el bottom del contenedor
        left: -7.5vh; // inicia desde el borde izquierdo
        width: 68% !important; // ancho de la línea
        border: none; // quitar estilo default
        border-bottom: 2px solid #ed1849; // línea roja
        z-index: 10;
        display: none;
        @media screen and (max-width: 781px) {
          display: block;
        }
      }
    }
    .right {
      figure {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
