.banner_small {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 6em;
  height: 32.7vh;

  @media screen and (max-width: 1600px) {
    padding-left: 6.7em;
  }

  @media screen and (max-width: 960px) {
    padding-left: 0;
  }

  @media screen and (max-width: 650px) {
    height: 25.7vh;
  }
  figure {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    &.banner_image_small {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        background-color: #282626; /* color del overlay */
        opacity: 0.4;
        pointer-events: none; /* Para que no bloquee clics en el banner */
      }
    }
  }

  .title_button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    height: auto;

    left: 5em;
    bottom: 4vh;
    top: unset;
    right: unset;

    @media screen and (max-width: 1600px) {
      width: 90%;
      left: 5.2em;
    }
    @media screen and (max-width: 960px) {
      left: 3em;
      bottom: 2vh;
      top: unset;
      right: unset;
    }

    @media screen and (max-width: 380px) {
      width: 89%;
    }

    .logo_title {
      position: relative;
      display: flex;

      figure.wp-block-image.hero-decor {
        width: 15.1%;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        margin: 0;

        @media screen and (max-width: 960px) {
          width: 10.4%;
        }
        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }

      p {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.66em;
        line-height: 1.4;
        font-weight: 600;
        color: #ffffff;
        background-color: #ed1849;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.8em;
        padding-right: 1.8em;
        margin: 0;
        white-space: nowrap;

        @media screen and (max-width: 1400px) {
          font-size: 1.26em;
        }

        @media screen and (max-width: 960px) {
          min-width: 220px;
          max-width: 300px;
          white-space: pre-wrap;
          width: 100%;
          font-size: 1.2em !important;
        }

        @media screen and (max-width: 600px) {
          font-size: 1em !important;
        }
      }
    }

    .wp-block-buttons {
      max-width: 301px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      @media screen and (max-width: 1100px) {
        display: none;
      }
      .wp-block-button {
        max-width: 301px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        a.wp-block-button__link {
          max-width: 100%;
          width: 100%;
          &:hover {
            background: #ed1849 !important;
            color: #ffffff;
            border-color: #ed1849;
          }
        }
      }
    }
  }
}
