.equipe {
  position: relative;
  display: block;
  padding-bottom: 8.5em;
  .equipe-grid {
    position: relative;
    width: 100%;
    column-gap: 2.4rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    row-gap: 2.4rem;

    @media screen and (max-width: 2414px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 24rem), 1fr));
    }

    @media (max-width: 1920px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 24rem), 1fr));
    }

    @media (max-width: 1300px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    }

    article {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .equipe-photo {
        flex: 0 0 34%;
        height: 100%;

        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .equipe-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 2em;

        .equipe-name {
          line-height: 1.3;
          margin-bottom: 0.4em;
        }

        .equipe-description {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
