header {
  position: fixed;
  z-index: 9999;
  width: 100%;

  @media screen and (min-width: 960px) {
    position: relative;
  }
}

.header-main {
  position: relative;
  display: grid;
  padding: 2.8em 7vw;
  background: #fff;

  border-top: 10px solid #ed1849;

  @media screen and (min-width: 960px) {
    padding: 2.5em 7.3em;
  }

  .header-line {
    max-width: 100% !important;
    width: 100%;
    height: 0.8em;
    background: var(--wp--preset--color--pink-red);
    left: 0;
    position: absolute;
  }

  .header-main-cols {
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    justify-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: 960px) {
      grid-template-columns: max-content 65%;
    }

    svg {
      height: 4.8em;
    }

    .header-main-nav {
      width: 100%;

      nav.wp-block-navigation {
        max-width: 100%;

        ul.wp-block-navigation__container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 0;
          padding: 0;
          gap: 0;

          a.wp-block-navigation-item__content {
            span.wp-block-navigation-item__label {
              letter-spacing: 0;
              text-transform: uppercase;
              color: #363432;
              font-weight: 700;
              font-size: 0.8em;
              position: relative;
              transition: color 0.3s ease-in-out;

              &:before {
                position: absolute;
                content: "";
                bottom: -2px;
                left: 0;
                right: 0;
                width: 0;
                margin: 0 auto;
                height: 1px;
                background: var(--wp--preset--color--pink-red);
                transition: all 0.3s ease-in-out;
              }
            }

            padding-right: 1.75em;
            padding-left: 1.75em !important;
            position: relative;

            &:after {
              width: 1px;
              height: 100%;
              position: absolute;
              content: "";
              background: var(--wp--preset--color--pink-red);
              right: 0;
            }

            &:hover {
              span.wp-block-navigation-item__label {
                color: #ed1849;

                &:before {
                  width: 100%;
                }
              }
            }
          }

          li {
            &.has-child {
              font-size: 1em;

              a {
                padding-right: 1.75em !important;
              }

              ul {
                left: -32%;
                padding-top: 26px;
                padding-bottom: 16px;
                background-color: transparent;
                border: none;
                gap: 0;
                min-width: 286px !important;
                @media screen and (max-width: 1540px) {
                  left: -45%;
                }

                li {
                  a {
                    background-color: #ed1849;
                    color: #ffffff;
                    padding: 1em;
                    padding-right: 1em !important;
                    width: 100%;
                    text-align: center;
                    padding-right: 1.5em !important;
                    span {
                      color: #ffffff !important;
                      text-transform: capitalize !important;
                      font-weight: 500 !important;
                      width: 100%;
                      text-align: center;
                      transition: color 0.3s ease-in-out;

                      &::before {
                        display: none;
                      }
                    }

                    &:hover {
                      span {
                        color: rgba(255, 255, 255, 0.7) !important;
                      }
                    }

                    &::after {
                      width: 100%;
                      height: 1px;
                      position: absolute;
                      content: "";
                      background: rgba(255, 255, 255, 0.3) !important;
                      left: 0;
                      bottom: 0;
                      &:last-of-type {
                        display: none;
                      }
                    }
                  }

                  &:last-of-type {
                    border: none;
                  }
                }
              }
            }
            &:first-of-type {
              a.wp-block-navigation-item__content {
                padding-left: 0;
              }
            }

            &:last-of-type {
              a.wp-block-navigation-item__content {
                padding-right: 0;

                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.header-mobile-nav {
  position: absolute;
  height: 0;
  pointer-events: none;
  width: 100%;
  background: #fff;
  display: grid;
  justify-items: center;
  align-items: start;
  font-size: 2em;

  max-height: 100vh;
  overflow: hidden; // cerrado
  overflow-y: auto;
  nav {
    margin: 3em 10vw;
    width: 100%;

    max-height: unset; // resta el margin
    height: auto;

    ul {
      width: 100%;
      height: 100%;
      overflow: hidden;
      justify-content: flex-start;

      li {
        width: 100%;
        align-items: center;
        justify-content: center;
        a {
          text-align: center;
        }

        &.has-child {
          position: relative;
          display: flex;
          flex-direction: column;
          ul {
            width: 100% !important;
            row-gap: 20px !important;
            left: 0px !important;
            position: relative !important;
            left: unset !important;
            top: unset !important;

            li {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

button.main-menu-toggler {
  display: block;
  margin-right: 0 !important;
  margin-left: auto;
  position: relative;
  height: 3em;
  width: 4em;
  padding: 0;
  background: transparent;
  border: none;
  color: var(--wp--preset--color--purple);

  .main-menu-toggler-button {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    height: 100%;
    transition: all 0.2s ease-in-out;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--wp--preset--color--purple);
    }
  }

  .main-menu-toggler-button.open {
    opacity: 1;
  }

  .main-menu-toggler-button.close {
    opacity: 0;
  }

  &.menu-open {
    .main-menu-toggler-button.close {
      opacity: 1;
    }

    .main-menu-toggler-button.open {
      opacity: 0;
    }
  }
}
