section.hero {
  margin: 0 !important;
  max-width: 100% !important;
  position: relative;
  display: grid;
  min-height: 65vh;
  // overflow: hidden;

  @media screen and (min-width: 960px) {
    min-height: 80vh;
  }

  @media screen and (max-width: 1200px) and (min-height: 800px) {
    min-height: 35em;
  }

  .hero-top-content {
    position: relative;
    z-index: 2;
    height: 100%;
    overflow: hidden;

    @media screen and (max-width: 960px) {
      height: 65vh;
    }

    .hero-content {
      position: relative;
      display: flex;
      padding: 0 7.35vw 4.5em 7.35vw;
      margin-left: auto;
      background: #ed1849d1;
      color: #fff;
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 2;

      @media screen and (min-width: 450px) {
        padding-right: 20vw;
      }

      @media screen and (min-width: 960px) {
        padding: 0 3em 8em;
        background: #ed1849;
        margin-right: 4.65625%;
        // max-width: 27.6041667%;
        max-width: 30.4em;
      }

      /* ⬇️ pantallas menores a 1600px */
      @media screen and (max-width: 1600px) {
        max-width: 32em;
        margin-right: 6.5em;
      }

      @media screen and (max-width: 960px) {
        position: absolute;
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
        top: 36%;
        left: 10%;
        height: 300px !important;
        padding: 30px 40px !important;
      }

      @media screen and (min-width: 2000px) {
        max-width: 28.5%;
      }

      .wp-block-buttons {
        @media screen and (min-width: 2000px) {
          justify-content: center;
        }
      }

      h1 {
        font-size: 2.5em;
        color: #ffffff;
        font-weight: 700;
        text-transform: none;
        margin-bottom: 4.9rem;

        @media screen and (min-width: 2000px) {
          font-size: 2.8em;
        }

        @media screen and (max-width: 960px) {
          font-size: 2em;
        }

        @media screen and (max-width: 450px) {
          font-size: 1.8em;
        }
      }
      .wp-block-button {
        position: relative;
        width: 100%;
      }

      a.wp-block-button__link {
        min-width: 100%;

        @media screen and (max-width: 450px) {
          font-size: 14px;
        }
      }
    }

    figure.wp-block-image.hero-decor {
      display: none;
      position: absolute;
      width: 9em;
      top: 87%;
      z-index: 3;
      right: 0;
      opacity: 0;
      visibility: hidden;

      @media screen and (min-width: 650px) {
        right: 1em;
      }

      @media screen and (min-width: 960px) {
        width: 7%;
        left: 4%;
        bottom: 10vh;
        top: unset;
        right: unset;
      }
    }
  }

  figure.wp-block-image.hero-decor {
    position: absolute;
    width: 7%;
    left: 2em;
    bottom: 10vh;
    top: unset;
    right: unset;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
  }

  /* <= 960px */
  @media screen and (max-width: 1600px) {
    figure.wp-block-image.hero-decor {
      width: 7%;
      left: 2.1em;
    }
  }

  @media screen and (max-width: 1300px) {
    figure.wp-block-image.hero-decor {
      width: 8%;
      left: 2.1em;
    }
  }

  @media screen and (max-width: 1100px) {
    figure.wp-block-image.hero-decor {
      width: 10%;
      left: 2.1em;
    }
  }

  /* <= 650px */
  @media screen and (max-width: 960px) {
    figure.wp-block-image.hero-decor {
      width: 9em;
      top: 87%;
      right: 1em;
      left: unset;
      bottom: unset;
    }
  }

  .hero-background-slider {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;

    @media screen and (min-width: 960px) {
      height: 90%;
    }

    @media screen and (max-width: 960px) {
      position: relative;
      top: unset;
    }

    .swiper-slide {
      padding-left: 5.6em;

      @media screen and (max-width: 1600px) {
        padding-left: 6.2em;
      }
      @media screen and (max-width: 960px) {
        padding-left: 0em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper.hero-slider {
      height: 100%;
      pointer-events: none;
    }

    .hero-video {
      @media screen and (min-width: 960px) {
        padding-left: 7.5%;
      }

      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #hero
    .wp-block-group.hero-content.is-layout-flow.wp-block-group-is-layout-flow {
    top: 38%;
    height: 260px !important;
    padding: 25px 25px !important;
  }
}
