.services_list {
  position: relative;
  display: block;
  margin-bottom: 2em;

  .services-grid {
    position: relative;
    width: 100%;
    column-gap: 2.4rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 23rem), 1fr));
    row-gap: 3.4em;

    @media screen and (max-width: 2414px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 18.5rem), 1fr));
    }

    @media (max-width: 1920px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
    }

    @media (max-width: 1300px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 16rem), 1fr));
    }

    a.service-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      .equipe-photo {
        width: 100%;
        height: 100%;

        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      h3 {
        text-align: center;
        font-size: 1.68em;
        margin: 0;
        margin-top: 1em;
        text-align: center;
        max-width: 325px;
        width: 100%;
        color: #282626;
      }
    }
  }
}
