.maps_container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  .acf-map {
    width: 100%;
    height: 560px;
    position: relative;

    @media screen and (max-width: 991px) {
      height: 330px;
    }

    .marker {
      display: none;
    }
  }
}
