.services {
  position: relative;
  display: block;
  padding-bottom: 8.5em;
  background-color: #f0f3f5;

  .services-grid {
    position: relative;
    width: 100%;
    column-gap: 2.4rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 42rem), 1fr));
    row-gap: 2.4rem;

    @media screen and (max-width: 2414px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 38rem), 1fr));
    }

    @media (max-width: 1920px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 32rem), 1fr));
    }

    @media (max-width: 1300px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 28rem), 1fr));
    }

    a.service-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .equipe-photo {
        width: 100%;
        height: 100%;

        img {
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .overlay-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          max-width: 100%;
          height: auto;
          z-index: 2;
          margin-bottom: 2.3em;
        }

        h3 {
          text-align: center;
          font-size: 1.68em;
          z-index: 2;
          text-align: center;
          max-width: 518px;
          width: 100%;
          color: #ffffff;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: multiply;
          background-color: #282626;
          opacity: 0.8;
          pointer-events: none;
          z-index: 1;
          transition: background-color 0.2s ease-in-out,
            opacity 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            content: "";
            background-color: #ed1849;
            opacity: 1;
          }
        }
      }
    }
  }
}
