section.services-slider {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 5.55rem 7.35vw 0;
  background: linear-gradient(to bottom, #ffffff 50%, #f0f3f5 50%);

  @media screen and (min-width: 960px) {
    padding: 5.55rem 14.45rem 7.55rem 5.1rem;
  }

  @media screen and (max-width: 1600px) {
    padding: 5.55rem 14.45rem 7.55rem 6.1rem;
  }
  .swiper-slide .swiper {
    height: 100%;
  }

  .services-slider-top-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3.4rem;

    @media screen and (min-width: 960px) {
      margin-bottom: 5.4rem;
    }

    h3 {
      margin: 0;
    }
  }

  .services-slider-container {
    background: #ed1849;
    color: #fff;
    min-height: 69.81vh;

    @media screen and (min-width: 960px) {
      display: grid;
      grid-template-columns: 33.2em auto;
    }

    @media screen and (max-width: 959px) {
      min-height: auto;
    }

    @media screen and (min-width: 2000px) {
      grid-template-columns: 46.1% auto;
    }

    .services-slider-container-left {
      padding: 4.3em 6vw;

      @media screen and (min-width: 960px) {
        padding: 4em 5.85rem;
        padding-right: 3.85rem;
      }

      .services-swiper-text {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .swiper-wrapper {
        height: auto;
        .swiper-slide {
          @media screen and (max-width: 960px) {
            height: auto;
          }
        }
      }

      p {
        line-height: 1.5;
      }

      h3 {
        position: relative;
        font-size: 1.7em;
        padding-bottom: 1.6rem;
        margin-bottom: 0;

        @media screen and (max-width: 959px) {
          max-width: 70%;
          width: 100%;
          margin: 0 auto;
          text-align: center !important;
        }

        @media screen and (max-width: 650px) {
          max-width: 90%;
        }

        @media screen and (min-width: 650px) {
          font-size: 2.3em;
          padding-bottom: 1.6rem;
          margin-bottom: auto;
        }
        // &:after {
        //   content: "";
        //   width: 100%;
        //   background: #fff;
        //   opacity: 0.3;
        //   height: 1px;
        //   left: 0;
        //   bottom: 0;
        //   position: absolute;
        // }
      }

      h4 {
        font-size: 1.5em;
        padding-bottom: 2rem;
        margin-bottom: 0;
        position: relative;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 2rem;

        @media screen and (min-width: 650px) {
          font-size: 1.7em;
          padding: 0rem;
          margin-bottom: 2rem;
          padding-top: 1.6rem;
        }

        @media screen and (max-width: 959px) {
          margin-top: 2em;
          padding-bottom: 1.5rem !important;
          text-align: center !important;
        }
      }

      a {
        position: relative;
        display: block;
        background: transparent;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 0.8em;
        padding: 1.4625em 3.2em;
        border: 1px solid;
        border-radius: 0;
        line-height: 1.3;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        text-align: center;

        @media screen and (min-width: 960px) {
          min-width: 18em;
          width: 100%;
          max-width: max-content;
        }

        &:hover {
          background: #fff !important;
          color: #282626;
          border-color: #ed1849;
        }
      }

      .swiper-nav {
        margin-bottom: 2.2rem;

        @media screen and (min-width: 650px) {
          margin-bottom: 0rem;
        }
      }

      .swiper-slide {
        @media screen and (max-width: 960px) {
          display: flex;
          flex-direction: column;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #ed1849;
          z-index: -1;
        }
      }
    }

    .services-slider-container-right {
      height: 100%;
      width: 100%;
      position: relative;
      padding-left: 0;
      min-height: 24rem;

      @media screen and (min-width: 960px) {
        height: calc(100% - 2.3em);
        padding: 3.15em;
        min-height: unset;
      }

      .swiper.services-swiper-images {
        height: 100%;
        position: absolute;
        width: 100%;

        @media screen and (min-width: 960px) {
          width: calc(100% + 7.125rem);
        }

        @media screen and (max-width: 959px) {
          padding: 50px 30px 50px 30px;
        }

        .swiper-slide {
          img {
            max-width: 58.13vw;
            max-height: 59.4074vh;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width: 959px) {
              max-width: 100vw;
            }
          }
        }
      }
    }
  }

  // &:before {
  //     content: "";
  //     background: #dcdcdc;
  //     width: 1px;
  //     height: 14.55rem;
  //     position: absolute;
  //     left: 12.45rem;
  //     top: 0;
  //     z-index: -1;
  // }

  // &:after {
  //     content: "";
  //     background: #dcdcdc;
  //     height: 1px;
  //     width: 14.55rem;
  //     position: absolute;
  //     right: 0;
  //     bottom: 12.45rem;
  //     z-index: -1;
  // }
}

.swiper-nav {
  display: flex;
  gap: 1.2rem;

  .swiper-button-prev {
    &:after {
      content: "\f177";
    }
  }

  .swiper-button-next {
    &:after {
      content: "\f178";
    }
  }

  > div {
    &:after {
      font-family: "Font Awesome 6 Pro";
      display: block;
      color: #fff;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}
