section.services-slider {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 5.55rem 7.35vw 0;

    @media screen and (min-width: 960px) {
        padding: 5.55rem 14.45rem 0 7.45rem;
    }

    .swiper-slide .swiper {
        height: 100%;
    }

    .services-slider-top-title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 3.4rem;

        @media screen and (min-width: 960px) {
            margin-bottom: 5.4rem;
        }

        h3 {
            margin: 0;
        }
    }

    .services-slider-container {
        background: #ed1849;
        color: #fff;
        min-height: 37.5rem;

        @media screen and (min-width: 960px) {
            display: grid;
            grid-template-columns: 33.2em auto;
        }

        @media screen and (min-width: 2000px) {
            grid-template-columns: 46.1% auto;
        }

        .services-slider-container-left {
            padding: 4.3em 6vw;

            @media screen and (min-width: 960px) {
                padding: 6.3em 5.85rem;
            }

            p {
                // display: -webkit-box;
                // -webkit-line-clamp: 3;
                // -webkit-box-orient: vertical;
                // overflow: hidden;
                line-height: 1.5;
            }

            h4 {
                font-size: 2em;
                padding-bottom: 2rem;
                position: relative;
                color: #ffffff;
                font-weight: 700;

                @media screen and (min-width: 650px) {
                    font-size: 2.5em;
                    padding-bottom: 2.6rem;
                }

                &:after {
                    content: "";
                    width: 100%;
                    background: #fff;
                    opacity: 0.3;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    position: absolute;
                }
            }

            .swiper-nav {
                margin-bottom: 2.2rem;

                @media screen and (min-width: 650px) {
                    margin-bottom: 2.7rem;
                }
            }

            .swiper-slide {
                &:after {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background: #ed1849;
                    content: "";
                    z-index: -1;
                }
            }
        }

        .services-slider-container-right {
            height: 100%;
            width: 100%;
            position: relative;
            padding-left: 0;
            min-height: 24rem;

            @media screen and (min-width: 960px) {
                height: calc(100% - 2.3em);
                padding: 1.15em;
                min-height: unset;
            }

            .swiper.services-swiper-images {
                height: 100%;
                position: absolute;
                width: 100%;

                @media screen and (min-width: 960px) {
                    width: calc(100% + 7.125rem);
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &:before {
        content: "";
        background: #dcdcdc;
        width: 1px;
        height: 14.55rem;
        position: absolute;
        left: 12.45rem;
        top: 0;
        z-index: -1;
    }

    &:after {
        content: "";
        background: #dcdcdc;
        height: 1px;
        width: 14.55rem;
        position: absolute;
        right: 0;
        bottom: 12.45rem;
        z-index: -1;
    }
}

.swiper-nav {
    display: flex;
    gap: 2.7rem;

    .swiper-button-prev {
        &:after {
            content: "\f177";
        }
    }

    .swiper-button-next {
        &:after {
            content: "\f178";
        }
    }

    >div {
        &:after {
            font-family: 'Font Awesome 6 Pro';
            display: block;
            font-size: 2em;
            color: #fff;
            font-size: 3rem;
            cursor: pointer;
        }
    }
}